.App {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: brown;
  margin: 20px 0 50px;
}
.vaccine-logo {
  height: 80px;
}

form {
  margin: 10px 0;
}

.help-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  display: flex;
  margin: 50px 0;
  justify-content: center;
}

.info--modal {
  text-align: left;
}

.info--modal li {
  margin: 20px 0;
  line-height: 2rem;
}

.telegram-join {
  width: 30rem;
}

.Toastify__toast--dark {
  font-weight: bold;
  text-align: left;
}


@media (max-width: 768px){
  .telegram-join {
    width: 15rem;
  }
}